@tailwind base;
@tailwind components;
@tailwind utilities;

.cm-editor, .cm-scroller{
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.css-13cymwt-control, .css-t3ipsp-control{
  border: 0px !important;
  border-radius: 8px 8px 0px 0px !important;
  background-color: #ffecfc !important;
}
.css-16xfy0z-control{
  border: 0px !important;
  border-radius: 8px 8px 0px 0px !important;
}
